<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2011 Levi Hackwith <levi.hackwith@gmail.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights to
 * use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 * the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="true"
         bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="true"
         verbose="true">
    <logging>
        <log type="coverage-html" target="./coverage-html" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <file>bootstrap.php</file>
                <directory>*/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Opnsrce_Ext">
            <file>./ExtFilterParser/Tests/ExtFilterParserTest.php</file>
            <file>./ExtFilterParser/Tests/ExtFilterParserSymfonyTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>